<div class="link-wrapper">
    <style scoped>
        ul.link a {
            color: var(--clr-h1-and-bold);
            text-decoration: none;
        }
        
        ul.link a:hover,
        a:focus {
            color: var(--clr-a-text-hvr);
        }
    </style>
    <ul class="link">
        <li><a href="https://github.com/openpecha" rel="author"><i class="fab fa-github"></i> GitHub</a></li>
        <li><a href="https://discord.gg/7GFpPFSTeA" rel="external"><i class="fab fa-discord"></i> Discord</a></li>
        <li><a href="https://docs.openpecha.org" rel="external"><i class="fas fa-book-reader"></i> Doc</a></li>
        <li><a href="https://huggingface.co/openpecha" rel="external">🤗 Hugging Face</a></li>
        <li><a href="https://medium.com/@OpenPecha" rel="external"><i class="fab fa-medium"></i> Medium</a></li>
        <li><a href="https://twitter.com/openpecha" rel="external"><i class="fab fa-twitter"></i> Twitter</a></li>
    </ul>
    <br>
    <ul class="toc-link">
        <li>
            <a href="https://openpecha.org"></i> Home</a>
        </li>
        <li>
            <a href="https://openpecha.org/story"></i> About</a>
        </li>
        <li>
            <a href="https://openpecha.org/partners">Partners</a>
        </li>
    </ul>
</div>
