<div class="link-wrapper">
    <style scoped>
        ul.link a {
            color: var(--clr-h1-and-bold);
            text-decoration: none;
        }
        
        ul.link a:hover,
        a:focus {
            color: var(--clr-a-text-hvr);
        }
    </style>
    <ul class="link">
        <li><a href="https://github.com/openpecha" rel="author"><i class="fab fa-github"></i> GitHub</a></li>
        <li><a href="https://huggingface.co/openpecha" rel="external"><i class="fas fa-face-smiling-hands"></i> Blog</a></li>
    </ul>
    <br>
    <ul>
        <li>
            <a href="https://openpecha.org/story"><i class="fas fa-circle"></i> Our story</a>
        </li>
    </ul>
</div>